<div class="outer">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Create New Account </h2>
      </div>
      <form
        (ngSubmit)="onRegister()"
        name="registerForm"
        [formGroup]="registerForm"
      >
        <div class="firstname">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input
              formControlName="firstname"
              matInput
              placeholder="firstname"
              required
            />
            <mat-error *ngIf="!registerForm.controls['firstname'].valid">
              firstame is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="lastname">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input
              formControlName="lastname"
              matInput
              placeholder="lastname"
              required
            />
            <mat-error *ngIf="!registerForm.controls['lastname'].valid">
              lastname is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="username">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input
              formControlName="username"
              matInput
              placeholder="username"
              required
            />
            <mat-error *ngIf="!registerForm.controls['username'].valid">
              username is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="email">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="email address"
              required
            />
            <mat-error *ngIf="!registerForm.controls['email'].valid">
              email is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="password">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>New Password</mat-label>
            <input
              matInput
              placeholder="password"
              type="password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide"
            ></button>
            <mat-error *ngIf="registerForm.controls['password'].invalid"
              >Password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="confirm-password">
          <mat-form-field
            class="full-width"
            appearance="outline"
            *ngIf="registerForm.controls['password'].valid"
          >
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Confirm your password"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide"
            ></button>
            <mat-error
              *ngIf="
              registerForm.controls['confirmPassword'].pristine ||
              registerForm.controls['confirmPassword'].errors?.['MatchPassword']
            "
              >Password does not match</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <label>Gender:</label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button id="male" value="Male" [checked]="true"
              >Male</mat-radio-button
            >
            <mat-radio-button id="female" value="Female"
              >Female</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <button class="centerButton" style="text-align: center;" mat-flat-button color="primary">Register</button>
      </form>

      <div class="text-center pt-4 text-muted centerButton">
        Already have account? <a id="forget" routerLink="/login">Login</a>
    </div>
      &nbsp;
    </mat-card-content>
  </mat-card>
</div>
