<div class="outer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button style="size-adjust: 50%" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsDyZJZh65KM_qs5CmGsJtd4ozYl4wR6_pjo4AYYcOtECDLyvE1efpNvW9U3jUNvdNXOM&usqp=CAU" alt="">
      </div> 
      <span class="example-spacer"></span>
      <app-profile-menu></app-profile-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav class="content" #sidenav opened="true" mode="side">
      <mat-nav-list>
        <div>
          <a mat-list-item [routerLink]="['dashboard']" routerLinkActive="active">
            <mat-icon class="icon-adjust">dashboard</mat-icon>
            <span class="span-font">Dashboard</span>
          </a>
        </div>
        <a mat-list-item [routerLink]="['employees']" routerLinkActive="active" >
          <mat-icon class="icon-adjust">groups</mat-icon>
          <span class="span-font">Employees</span>
        </a>
        <a mat-list-item [routerLink]="['projects']" routerLinkActive="active">
          <mat-icon class="icon-adjust"> book </mat-icon>
          <span class="span-font">Projects</span><br />
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 84vh">
        <router-outlet></router-outlet>
        <lib-ng-toast></lib-ng-toast>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer" color="primary">
    <button mat-button>
      <span>© 2023 Dribbble. All rights reserved.</span>
    </button>
  </mat-toolbar>
</div>
