.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.allEmployees {
  padding: 20px;
}

/* .mdc-data-table__table {
  width: 50%;
  border: 0;
  white-space: nowrap;
  border-spacing: 0;
  table-layout: relative;
} */

.fontIcon {
  font-size: 50px;
  height: auto;
  width: auto;
}
.icon {
  padding-right: 90%;
}
.outer {
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
}


.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }

/* table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;} */

