<div class="outer">
  <div class="header">
    <h2>Employee Records</h2>
  </div>
  <div class=" container">
    <div class="icon">
      <button mat-button style="color: black;" routerLink="/home/add-employee">
        <mat-icon class="fontIcon">add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="allEmployees" >
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>

      <!-- designation Column -->
      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef>Designation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.designation }}</mat-cell>
      </ng-container>

      <!-- experience Column -->
      <ng-container matColumnDef="experience">
        <mat-header-cell *matHeaderCellDef>Experience</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.experience }}</mat-cell>
      </ng-container>

      <!-- technicalSkills Column -->
      <ng-container matColumnDef="technicalSkills">
        <mat-header-cell *matHeaderCellDef>Skills</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.technicalSkills }}
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['/home/edit-employee', element.id]">
            <mat-icon
              aria-hidden="false"
              aria-label="Example edit icon"
              color="primary"
              fontIcon="edit"
            ></mat-icon>
          </a>
          <a [routerLink]="['/home/view-employee', element.id]">
            <mat-icon style="color: green;">remove_red_eye</mat-icon>
          </a>
          <mat-icon
            aria-hidden="false"
            (click)="openDeleteModel(element.id)"
            mx-2
            aria-label="Example delete icon"
            color="warn"
            fontIcon="delete"
          ></mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>