.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-element {
  width: 400px;
}
.allRestaurant {
  padding: 20px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card {
    max-width: 600px;
    margin: 1em auto;
    text-align: center;
    max-height: 600px;
    padding:  0 60px;
  }
